<template>
    <require from="./datepicker"></require>
    <div id="page-wrapper" style="min-height: 923px;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add booking</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form" lpformnum="1">
                                    <fieldset class="form-group">
                                        <legend>Organiser details</legend>
                                        <div class="form-group">
                                            <label for="firstName">First name</label>
                                            <input id="firstName" class="form-control" placeholder="Enter organiser first name">
                                        </div>
                                        <div class="form-group">
                                            <label for="surname">Surname</label>
                                            <input id="surname" class="form-control" placeholder="Enter organiser surname">
                                        </div>
                                        <div class="form-group">
                                            <label for="emailAddress">Email address</label>
                                            <input id="emailAddress" class="form-control" placeholder="Enter organiser email address">
                                        </div>
                                        <div class="form-group">
                                            <label for="telephoneNumber">Telephone Number</label>
                                            <input id="telephoneNumber" class="form-control" placeholder="Enter organiser telephone number">
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <legend>Date and Time</legend>
                                        <div class="form-group">
                                            <label for="bookingDate">Booking Date</label>
                                            <input id="bookingDate" class="form-control date" datepicker value.bind="dateValue" placeholder="Enter date of booking">
                                        </div>
                                        <div class="form-group">
                                            <label for="bookingTime">Booking Time</label>
                                            <input id="bookingTime" class="form-control time" placeholder="Enter time of booking" type="time">
                                        </div>
                                    </fieldset>                                    
                                    <button type="submit" class="btn btn-default">Submit Button</button>                                   
                                </form>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
</template>